#background {
  min-height: 100%;
  min-width: 1400px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../assets/background.png);
  background-size: cover;
}

#background-cover {
  min-height: 100%;
  min-width: 1400px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2F1893;
  opacity: 50%;
}

@media screen and (max-width: 1400) {
  #background {
    left: 50%;
    margin-left: -512px;
  }
}